:root {
    --gris-bordure : rgb(149, 165, 181);
    --bleu-foncé : rgb(0, 102, 204);
    --bleu-boutons : rgb(0, 153, 255);
    --blanc: rgb(255, 255, 255);
    --gris-bleu : rgb(200, 230, 255);
}

body {
    background-color: rgb(120, 200, 255);
    background-size: cover;
    background-image: url("images/pixel_clouds.jpg");
}

header {
    background-color: rgba(0, 102, 204, 0.5);
    color: white;
    padding: 10px;
    border: 3.5px solid var(--gris-bordure);
    margin-bottom: 10px;
}

nav ul {
    list-style: none;
    justify-content: center;
    gap: 15px;
    display: grid;
    grid-auto-flow: column;
}

nav a {
    color: var(--blanc);
    background-color: var(--bleu-boutons);
    padding: 8px 12px;
    border: 2px solid var(--blanc);
}

nav a:hover {
    background-color: yellow;
}

main {
    background-color: var(--gris-bleu); 
    padding: 25px;
    border: 3px solid var(--gris-bordure);
}

