/* ============================================================
                            Variable                  
============================================================ */

:root {
    --gris-bordure : rgb(149, 165, 181);
    --bleu-foncé : rgb(0, 102, 204);
    --bleu-boutons : rgb(0, 153, 255);
    --blanc: rgb(255, 255, 255);
    --gris-bleu : rgb(200, 230, 255);
    --blanc : #fff;
    --noir: #000;
    --bleu: rgb(0, 0, 255);
}


/* ============================================================
                            Body                  
============================================================ */

body {
    margin: 0;
    background-image: url("images/pixel_clouds.jpg");
    background-size: cover;
    font-family: Arial, sans-serif;
}

/* ============================================================
                            Contour                  
============================================================ */

.pixel-frame {
    border: 10px solid transparent;
    padding: 20px;
    background-image: url("images/pixel_border.png");
}

/* ============================================================
                            Fenêtre                  
============================================================ */

.win98-window {
    border: 3px solid black;
    background: #c0c0c0;
    box-shadow: 5px 5px 0px #000;
}

/* ============================================================
                            Barre                  
============================================================ */

.title-bar {
    background: #00008b;
    color: white;
    padding: 4px;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
}

/* ============================================================
                        Boutons barre                  
============================================================ */

.title-buttons button {
    width: 18px;
    height: 18px;
    margin-left: 3px;
    border: 2px solid #ffffff;
    background: #c0c0c0;
    cursor: pointer;
}

/* ============================================================
                            Header                  
============================================================ */

header {
    padding: 15px;
    border-bottom: 2px solid black;
}

header h1 {
    margin: 0 0 15px;
    color: navy;
    font-size: 32px;
    text-shadow: 2px 2px #7bb0ff;
}

/* ============================================================
                            Navigation                  
============================================================ */

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    gap: 10px;
}

nav a {
    text-decoration: none;
    background-color: white;
    border: 3px solid black;
    padding: 5px 12px;
    color: black;
    box-shadow: 3px 3px 0 black;
}

nav a:hover {
    background: yellow;
}

/* ============================================================
                        Corps Body                  
============================================================ */

main {
    padding: 20px;
    background: #7ab2e6;
    border-top: 2px solid black;
}

/* --- ICONES --- */
.retro-icons img {
    width: 40px;
    image-rendering: pixelated;
    margin-right: 10px;
}

/* --- GIFS GEOCITIES --- */
.geocities-buttons img {
    width: 120px;
    margin: 10px;
    image-rendering: pixelated;
}

/* --- POP-UP WINDOWS 98 --- */
.popup {
    display: none;
    position: fixed;
    top: 30%;
    left: 40%;
    width: 250px;
    background: #c0c0c0;
    border: 3px solid black;
    box-shadow: 5px 5px 0px black;
}

.popup-title {
    background: navy;
    color: white;
    padding: 5px;
    font-weight: bold;
}

.popup-content {
    padding: 10px;
}

.popup-content button {
    background: #e0e0e0;
    padding: 4px 15px;
    border: 2px solid black;
} 