/* ============================================================
                            Body                  
============================================================ */

body {
    background: #f0f0f0;
    font-family: Arial, sans-serif;
    background-image: url("../gifs/sky.gif");
}

/* ============================================================
                            Contenue                  
============================================================ */

.page-container {
    width: 750px;
    margin: 0 auto;
}

/* ============================================================
                        Titre haut de page                  
============================================================ */

.sky-title {
    font-size: 40px;
    letter-spacing: 2px;
    text-shadow: 2px 2px #ff2fa3;
    font-weight: bold;
    color: white;
}

/* ============================================================
                       Contenue titre                  
============================================================ */

.banner {
    background: linear-gradient(navy, black);
    text-align: center;
    padding: 20px;
    color: white;
    border: 2px solid #ff3fae;
    border-radius: 6px;
    margin-bottom: 20px;
}

/* ============================================================
                        Grille Image + Texte                   
============================================================ */

.content-grid {
    display: grid;
    grid-template-columns: 200px 1fr;
    gap: 20px;
}

/* ============================================================
                            Ma photo                  
============================================================ */

.avatar-box img {
    width: 100%;
    height: 100%;
    border: 3px solid #ff55c2;
    border-radius: 10px;
}

/* ============================================================
                        Contenue Bloc texte                  
============================================================ */

.text-box {
    color: white;
    border: 3px solid #ff55c2;
    padding: 20px;
    border-radius: 5px;
}

.text-box h2 {
    margin-top: 0;
    color: #ff55c2;
}

.separator {
    height: 4px;
    background: linear-gradient(90deg, #ff55c2, #ffd3f2, #ff55c2);
    margin: 15px 0;
    border-radius: 3px;
}

.footer-text {
    text-align: center;
    font-style: italic;
    color: #777;
}

/* ============================================================
                            Commentaire                  
============================================================ */
.comment-section {
    margin-top: 30px;
}

.comment-title {
    color: #ff55c2;
    font-size: 24px;
    text-shadow: 1px 1px #ffb8e9;
}

.comment {
    background: linear-gradient(1deg, navy, black);
    color: white;
    display: grid;
    grid-template-columns: 60px 1fr;
    padding: 10px;
    border: 2px solid #ffb8e9;
    border-radius: 5px;
    margin-bottom: 10px;
}

.comment-avatar {
    width: 60px;
    height: 60px;
    border: 2px solid #ff55c2;
    border-radius: 5px;
}

.comment-body .idee {
    color: #ff55c2;
    font-weight: bold;
    display: block;
    margin-left: 10px;
}

.comment-body .date {
    font-size: 11px;
    color: #777;
    display: block;
    margin-bottom: 5px;
    margin-left: 5px;
}

.comment p {
    margin-left: 15px;
}

/* ============================================================
                            Footer                  
============================================================ */

footer {
    margin-top: 20px;
    text-align: center;
}

footer a {
    color: #ff55c2;
    text-decoration: underline;
}

footer p {
    color:#ff55c2;
}

/* ============================================================
                            Media Query                   
============================================================ */

@media screen and (max-width: 768px) {

    .page-container {
        width: 95%;
    }

    .content-grid {
        grid-template-columns: 1fr;
        text-align: center;
    }

    .avatar-box {
        max-width: 200px;
        margin: 0 auto;
    }

    .comment {
        grid-template-columns: 1fr;
        text-align: center;
    }

    .comment-avatar {
        margin: 0 auto 10px;
    }
}
